#view-exam-container {
    display: flex;
    height: 100%;
    width: 100%;
}

#button-header {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 6%;
    padding: 0.2%;
}

.button-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vh;
    width: 25%;
    border: none;
    border-radius: 2px;
    background-color: #0CC0DF;
    color: white;
    cursor: pointer;
}

.button-header:hover {
    background-color: #0097b2;
}

iframe {
    border: none;
}

#footer {
    display: none;
}