main {
    align-items: center;
}

.search-bar-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

#search-bar {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #0CC0DF;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

#search-bar:focus {
    border-color: #00A8CC;
    outline: none;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin-bottom: 10px;
    padding: 20px;
    min-height: 70vh;
    overflow-y: auto;
    scrollbar-width: none;
    justify-items: center;
}
.courses-container::-webkit-scrollbar {
    width: none;
}

.course-card {
    display: flex;
    flex-direction: column;
    background: #00FFFF;
    border-radius: 8px;
    width: 200px;
    border: 1px solid gray;
    text-decoration: none;
    color: black;
    max-height: 200px;
}

.course-image-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

.course-image-container img {
    width: 98%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.course-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

.course-details i {
    font-size: 30px;
    color: red;
}

.course-info .course-name {
    font-size: 15px;
    font-weight: 500;
}

.course-info .course-date {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
}

.swiper-button-next, .swiper-button-prev {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #0CC0DF;
   height: 30px;
   border-radius: 10%;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #0CC0DF;
}

.swiper-button-next::after, .swiper-button-prev::after {
   color: white;
   font-size: 20px;
   padding: 30px;
}

@media (max-width: 768px) {
    main {
        overflow-y: hidden;
    }

    .courses-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .course-card {
        width: 250px;
        max-height: 250px;
    }
}

@media (max-width: 480px) {
    main {
        overflow-y: hidden;
    }
    
    .courses-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .course-card {
        width: 100%;
    }

    .course-details {
        flex-direction: column;
        text-align: center;
    }

    .course-details i {
        margin-bottom: 10px;
    }

    .course-image-container {
        height: 150px;
    }
}
