/* Início da estilização dos Slider */
.card .image-box {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
 }
 
 .card .image-box img{
    width: 98%;
    height: 100%;
    border-radius: 8px 8px 0 0;
 }
 
 .container {
    max-width: 1150px;
    padding: 25px 0;
    width: 100%;
    margin: 10px;
    min-height: 45%;
 }
 
 .container p {
   font-size: 20px;
   padding-bottom: 20px;
   color: black;
   
 }
 .slide-container, .slide-container2 {
    margin: 0 30px;
    overflow: hidden;
 }
 
 .card {
    display: flex;
    flex-direction: column;
    background: #00FFFF;
    border-radius: 8px;
    width: 200px; /* adicionado */
    flex-basis: 200px; /* adicionado */
    border: 1px solid gray;
    text-decoration: none;
 }
 
 .card .profile-details i{
    font-size: 30px;
    color: red;
 }
 .card .profile-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
 }
 
 .profile-details .name {
    font-size: 15px;
    font-weight: 500;
 }
 
 .profile-details .job {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
 }
 
 .swiper-button-next, .swiper-button-prev {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #0CC0DF;
   height: 30px;
   border-radius: 10%;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #0CC0DF;
    
  }
  
  .swiper-button-next::after, .swiper-button-prev::after {
   color: white;
   font-size: 20px;
   padding: 30px;
  }
 /* Fim da estilização dos Slider */
 
 /* Início da estilização da Aba de Busca */
 .todas-faculdades {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 .aba-busca {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    width: 30%;
    margin-bottom: 15px;
 }
 
 #buscar-faculdade {
    width: 80%;
 }
 
 .todas-faculdades h1 {
    width: 100%;
    text-align: center;
    color:black;
 }
 
 .todos-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
 }
 
 .todos-cards .card {
    margin: 20px;
 }


 /* Fim da estilização dos Slider */