{% extends "sideheader.html" %}

{% block stylepage %}
<link rel="stylesheet" href="{{ url_for('faculdades.static', filename='/css/faculdadesStyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/swiper/swiper-bundle.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/swiper/slideStyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/list-action/styleList.css') }}">
{% endblock %}

{% block titlepage %}Vestibulobby - Faculdades{% endblock %}

{% block classactivefaculdades %}active{% endblock %}

{% block mainclass %}open-state{% endblock %}
{% block mainid %}faculdades_main{% endblock %}

{% block main %}
    <div class="container swiper">
        <p>Faculdades por Perto:</p>
        <div class="slide-container">
           <div class="card-wrapper swiper-wrapper">
              <a class="card swiper-slide"  href="{{url_for('faculdades.faculty_information')}}">
                 <div class="image-box">
                    <img src="{{ url_for('static', filename='images/logo-images/fatec-logo.png') }}">
                 </div>
                 <div class="profile-details">
                    <i class="fa-regular fa-bell"></i>
                    <div class="name-job">
                       <h3 class="name">Fatec</h3>
                       <h4 class="job">NADA PRÓXIMO</h4>
                    </div>
                 </div>
               </a>
              <div class="card swiper-slide">
                 <div class="image-box">
                    <img src="{{ url_for('static', filename='images/logo-images/fib-logo.png') }}">
                 </div>
                 <div class="profile-details">
                    <i class="fa-regular fa-bell"></i>
                    <div class="name-job">
                       <h3 class="name">FIB</h3>
                       <h4 class="job">NADA PRÓXIMO</h4>
                    </div>
                 </div>
              </div>
              <div class="card swiper-slide">
                 <div class="image-box">
                    <img src="{{ url_for('static', filename='images/logo-images/uninove-logo.png') }}">
                 </div>
                 <div class="profile-details">
                    <i class="fa-regular fa-bell"></i>
                    <div class="name-job">
                       <h3 class="name">Uninove</h3>
                       <h4 class="job">NADA PRÓXIMO</h4>
                    </div>
                 </div>
              </div>
              <div class="card swiper-slide">
                 <div class="image-box">
                    <img src="{{ url_for('static', filename='images/logo-images/unicamp-logo.png') }}">
                 </div>
                 <div class="profile-details">
                    <i class="fa-regular fa-bell"></i>
                    <div class="name-job">
                       <h3 class="name">Unicamp</h3>
                       <h4 class="job">NADA PRÓXIMO</h4>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="swiper-button-next button-next1"></div>
        <div class="swiper-button-prev button-prev1"></div>
        <div class="swiper-pagination pagination1"></div>
      </div>
      <!-- Adicionando um segundo swiper embaixo do primeiro -->
     <div class="container swiper">
        <p>Mais Concorridas:</p>
        <div class="slide-container2">
        <div class="card-wrapper swiper-wrapper">
           <!-- cards do segundo swiper -->
           <div class="card swiper-slide">
              <div class="image-box">
              <img src="{{ url_for('static', filename='images/logo-images/ufscar-logo.png') }}">
              </div>
              <div class="profile-details">
              <i class="fa-regular fa-bell"></i>
              <div class="name-job">
                 <h3 class="name">UFSCar</h3>
                 <h4 class="job">NADA PRÓXIMO</h4>
              </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
              <img src="{{ url_for('static', filename='images/logo-images/uscs-logo.png') }}">
              </div>
              <div class="profile-details">
              <i class="fa-regular fa-bell"></i>
              <div class="name-job">
                 <h3 class="name">USCS</h3>
                 <h4 class="job">NADA PRÓXIMO</h4>
              </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
                 <img src="{{ url_for('static', filename='images/logo-images/unicamp-logo.png') }}">
              </div>
              <div class="profile-details">
                 <i class="fa-regular fa-bell"></i>
                 <div class="name-job">
                    <h3 class="name">Unicamp</h3>
                    <h4 class="job">NADA PRÓXIMO</h4>
                 </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
                 <img src="{{ url_for('static', filename='images/logo-images/fatec-logo.png') }}">
              </div>
              <div class="profile-details">
                 <i class="fa-regular fa-bell"></i>
                 <div class="name-job">
                    <h3 class="name">Fatec</h3>
                    <h4 class="job">NADA PRÓXIMO</h4>
                 </div>
              </div>
           </div>
           <!-- adicione mais cards aqui -->
        </div>
        <div class="swiper-button-next button-next2"></div>
        <div class="swiper-button-prev button-prev2"></div>
        <div class="swiper-pagination pagination2"></div>
        </div>
     </div>
      <div class="todas-faculdades">
         <p>Veja Todos Nossas Faculdades</p>
      </div>
      <div id="list-container" class="todo-conteudo">
         <div class="faculdades-column" data-type="faculdades">
            <p><a href="#"><i class="fa-solid fa-circle"></i>PUC-SP</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>PUC-Rio</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Brasília (UnB)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>São Paulo (USP)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Unicamp</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Estadual de Londrina (UEL)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Estadual de Maringá (UEM)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Estadual Paulista (Unesp)</a></p>
         </div>
         <div class="faculdades-column" data-type="faculdades">
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal de Alagoas (UFAL)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal de Goiás (UFG)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal de Juiz de Fora (UFJF)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal de Lavras (UFLA)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal de Minas Gerais (UFMG)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal de Ouro Preto (UFOP)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal de Pernambuco (UFPE)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal de Santa Catarina (UFSC)</a></p>
         </div>
         <div class="faculdades-column" data-type="faculdades">
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal de São Carlos (UFSCar)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal do Ceará (UFC)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal do Espírito Santo (UFES)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal do Paraná (UFPR)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal do Rio de Janeiro (UFRJ)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal do Rio Grande do Norte (UFRN)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal do Rio Grande do Sul (UFRGS)</a></p>
            <p><a href="#"><i class="fa-solid fa-circle"></i>Federal da Bahia (UFBA)</a></p>
         </div>
      </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='/js/slider/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/slider/slider-animation.js') }}"></script>
<script src="{{ url_for('static', filename='/js/slider/notification-button.js') }}"></script>
{% endblock %}


