{% extends "sideheader.html" %}

{% block stylepage %}
    <link rel="stylesheet" href="{{ url_for('faculdades.static', filename='/css/faculty-information.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/swiper/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/swiper/slideStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/list-action/styleList.css') }}">
{% endblock %}

{% block titlepage %}Vestibulobby - {{ faculty.nome_faculdade }}{% endblock %}

{% block classactiveinicio %}active{% endblock %}

{% block mainclass %}open-state{% endblock %}
{% block mainid %}faculty-information_main{% endblock %}

{% block main %}
    <div id="faculty-content">
        <div id="faculty-header">
            <div id="faculty-image">
                <img src="{{ faculty.image_url }}">
            </div>
            <div id="faculty-name"><p>{{ faculty.nome_faculdade }}</p><i class="fa-regular fa-bell"></i></div>
        </div>
        <div id="course-list">
            <p id="course-title">Cursos dessa Instituição</p>
            <ul>
                {% for curso in faculty.cursos %}
                    <li>{{ curso }}</li>
                {% else %}
                    <li>Nenhum curso disponível</li>
                {% endfor %}
            </ul>
        </div>
        <div id="exams-list">
            Provas
        </div>
        <div id="info-list">
            Info
        </div>
        <div id="location-list">
            Local
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='/js/slider/notification-button.js') }}"></script> 
{% endblock %}