{% extends "sideheader.html" %}

{% block stylepage %}
    <link rel="stylesheet" href="{{ url_for('faculdades.static', filename='/css/faculty-information.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/swiper/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/swiper/slideStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/list-action/styleList.css') }}">
{% endblock %}

{% block titlepage %}Vestibulobby - {{ faculty.nome_faculdade }}{% endblock %}

{% block classactiveinicio %}active{% endblock %}

{% block mainclass %}open-state{% endblock %}
{% block mainid %}faculty-information_main{% endblock %}

{% block main %}
    <div id="faculty-content">
        <div id="faculty-header">
            <div id="faculty-image">
                <img src="{{ faculty.image_url }}">
            </div>
            <div id="faculty-name"><p>{{ faculty.nome_faculdade }}</p><i class="fa-regular fa-bell"></i></div>
        </div>
        <div id="faculty-information">
            <div id="faculty-notification">
                <div id="faculty-location">
                    <p class="view-title">Localização da Instituição</p>
                    <p class="api-information">{{ faculty.local_faculdade }}</p>
                </div>
                <div id="faculty-webpage">
                    <p class="view-title">Página Oficial da Instituição</p>
                    <a class="api-information" href="{{ faculty.pg_faculdade }}" target="_blank">{{ faculty.pg_faculdade }}</a>
                </div>
            </div>
            <div id="course-list">
                <ul>
                    <li>Análise e Desenvolvimento de Sistemas</li>
                    <li>Banco de Dados</li>
                    <li>Ciência de Dados</li>
                    <li>Gestão de Negócios e Inovação</li>
                    <li>Redes de Computadores</li>
                    <li>Sistemas Biomédicos</li>
                </ul>
            </div>
        </div>
    </div>

    <p id="exams-list-title">Vestibulares dessa Instituição</p>
    <div id="exams-list">
        <a class="card"  href="{{url_for('provas.exams_information')}}">
            <div class="image-box">
               <img src="{{ url_for('static', filename='images/logo-images/fatec-logo.png') }}">
            </div>
            <div class="profile-details">
               <i class="fa-regular fa-bell"></i>
               <div class="name-job">
                  <h3 class="name">Fatec</h3>
                  <h4 class="job">DD/MM/YEAR</h4>
                </div>
            </div>
        </a>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='/js/slider/notification-button.js') }}"></script> 
{% endblock %}