{% extends "sideheader.html" %}

{% block stylepage %}
<link rel="stylesheet" href="{{ url_for('courses.static', filename='/css/courses-style.css') }}">
{% endblock %}

{% block titlepage %}Vestibulobby - Cursos{% endblock %}

{% block classactivecursos %}active{% endblock %}

{% block mainclass %}open-state{% endblock %}
{% block mainid %}cursos_main{% endblock %}

{% block main %}
   <div class="search-bar-container">
      <input type="text" id="search-bar" placeholder="Buscar cursos..." onkeyup="filterCourses()" autocomplete="off">
   </div>

   <div class="courses-container" id="courses-container">
    {% for course in college_api_data %}
      <div class="course-card">
        <a href="{{ url_for('courses.view_courses', course_id=course['course_id']) }}">
          <div class="course-image-container">
            <img src="{{ images_map[course['science_type']] }}" alt="{{ course['course_name'] }}">
          </div>
          <div class="course-details">
            <i class="fa-regular fa-bell"></i>
            <div class="course-info">
              <h3 class="course-name">{{ course['course_name'] }}</h3>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>  
{% endblock %}

{% block scripts %}
<script>
  function filterCourses() {
    // Captura a entrada do usuário
    let input = document.getElementById('search-bar').value.toLowerCase();
    
    // Seleciona todos os cartões de cursos
    let courses = document.getElementsByClassName('course-card');
    
    // Itera sobre todos os cursos e esconde os que não correspondem à busca
    for (let i = 0; i < courses.length; i++) {
      let courseName = courses[i].getElementsByClassName('course-name')[0].innerText.toLowerCase();
      if (courseName.includes(input)) {
        courses[i].style.display = "";
      } else {
        courses[i].style.display = "none";
      }
    }
  }
</script>
{% endblock %}
