{% extends "sideheader.html" %}

{% block stylepage %}
    <link rel="stylesheet" href="{{ url_for('courses.static', filename='css/view-courses.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list-action/styleList.css') }}">
{% endblock %}

{% block titlepage %}Vestibulobby - {{ course['course_name'] }}{% endblock %}

{% block classactiveinicio %}active{% endblock %}

{% block mainclass %}open-state{% endblock %}
{% block mainid %}course-information_main{% endblock %}

{% block main %}
    <div id="course-content">
        <div id="course-header">
            <div id="course-image">
                <img src="{{ course['course_image_url'] }}" alt="Imagem do Curso">
            </div>
            <div id="course-name">
                <p>{{ course['course_name'] }}</p>
                <i class="fa-regular fa-bell"></i>
            </div>
            <a id="return-button" href="{{url_for('courses.courses_menu')}}">Voltar ao Menu de Cursos</a>
        </div>
        <div id="course-description">
            <p> 
                Neste espaço, você encontrará a descrição do curso, que foi feita para ajudar você 
                a entender do que ele se trata. Aqui, vamos apresentar os principais tópicos que serão explorados e como eles 
                são importantes no mundo atual e no mercado de trabalho. Essa descrição é uma oportunidade para que você conheça melhor 
                o conteúdo e decida se este curso é o que procura.
            </p>
        </div>
        <div id="related-colleges">
            <h3>Faculdades Relacionadas</h3>
            <ul>
                {% for college in related_colleges %}
                    <li><a href="{{ url_for('colleges.college_information', college_id=college['college_id']) }}" class="related-college">
                        {{ college['college_name'] }}
                    </a></li>
                {% else %}
                    <li>Nenhuma faculdade relacionada</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/universal_actions/notification-button.js') }}"></script>
<script src="{{ url_for('static', filename='js/universal_actions/list-action.js') }}"></script> 
{% endblock %}
