@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Inicio da estilização do Header */
header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    height: 10vh;
    background-color:#F5F5F5;
    box-sizing: border-box;
}

#menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    max-width: 25%;
}

#menu img {
    width: 30vh;
    object-fit: cover;
}

#menu button {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 400px;
    height: auto;
    z-index: 1;
    image-rendering: crisp-edges;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e3e9f7;
    height: 100vh;
    max-height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 2%;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#side-item_head {
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-item_head .logo-vest {
    width: 0px;
    height: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width .6s;
}

.logo-vest {
    width: 80px;
}

body {
    min-height: 100vh;
    background-color: white;
    display: flex;
}

#side_itens {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item, .side-item_config, #side-item_head {
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

.side-item.active, .side-item_config.active {
    background-color: #0CC0DF;
}

.side-item:hover:not(.active), .side-item_config:hover:not(.active) {
    background-color: white;
}

.side-item a, .side-item_config a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a0a0a;
}

.side-item.active a, .side-item_config.active a {
    color: white;
}

.side-item a i, .side-item_config a i, #side-item_head img i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#config_area {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-top: 1px solid white;
    padding: 12px;
    cursor: pointer;
    list-style: none;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #0cc0df;
    color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 110px;
    height: 20px;
}

#sidebar.open-sidebar .logo-vest {
    width: 200px;
    height: 20px;
}

#sidebar.open-sidebar .side-item a, #sidebar.open-sidebar .side-item_config a, #sidebar.open-sidebar .side-item_head img {
    justify-content: center;
    gap: 14px;
}

