{% extends "sideheader.html" %}

{% block stylepage %}
<link rel="stylesheet" href="{{ url_for('cursos.static', filename='/css/cursosStyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/swiper/swiper-bundle.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/swiper/slideStyle.css') }}">
{% endblock %}

{% block titlepage %}Vestibulobby - Cursos{% endblock %}

{% block classactivecursos %}active{% endblock %}

{% block mainclass %}open-state{% endblock %}
{% block mainid %}cursos_main{% endblock %}
{% block main %}
    <div class="container swiper">
        <p>Cursos por Perto:</p>
        <div class="slide-container">
           <div class="card-wrapper swiper-wrapper">
              <div class="card swiper-slide">
                 <div class="image-box">
                    <img src="{{ url_for('static', filename='images/logo-images/fatec-logo.png') }}">
                 </div>
                 <div class="profile-details">
                    <i class="fa-regular fa-heart"></i>
                    <div class="name-job">
                       <h3 class="name">Fatec</h3>
                       <h4 class="job">DD/MM/YEAR</h4>
                    </div>
                 </div>
              </div>
              <div class="card swiper-slide">
                 <div class="image-box">
                    <img src="{{ url_for('static', filename='images/logo-images/fib-logo.png') }}">
                 </div>
                 <div class="profile-details">
                    <i class="fa-regular fa-heart"></i>
                    <div class="name-job">
                       <h3 class="name">FIB</h3>
                       <h4 class="job">DD/MM/YEAR</h4>
                    </div>
                 </div>
              </div>
              <div class="card swiper-slide">
                 <div class="image-box">
                    <img src="{{ url_for('static', filename='images/logo-images/uninove-logo.png') }}">
                 </div>
                 <div class="profile-details">
                    <i class="fa-regular fa-heart"></i>
                    <div class="name-job">
                       <h3 class="name">Uninove</h3>
                       <h4 class="job">DD/MM/YEAR</h4>
                    </div>
                 </div>
              </div>
              <div class="card swiper-slide">
                 <div class="image-box">
                    <img src="{{ url_for('static', filename='images/logo-images/unicamp-logo.png') }}">
                 </div>
                 <div class="profile-details">
                    <i class="fa-regular fa-heart"></i>
                    <div class="name-job">
                       <h3 class="name">Unicamp</h3>
                       <h4 class="job">DD/MM/YEAR</h4>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="swiper-button-next button-next1"></div>
        <div class="swiper-button-prev button-prev1"></div>
        <div class="swiper-pagination pagination1"></div>
      </div>
      <!-- Adicionando um segundo swiper embaixo do primeiro -->
     <div class="container swiper">
        <p>Mais Concorridos:</p>
        <div class="slide-container2">
        <div class="card-wrapper swiper-wrapper">
           <!-- cards do segundo swiper -->
           <div class="card swiper-slide">
              <div class="image-box">
              <img src="{{ url_for('static', filename='images/logo-images/ufscar-logo.png') }}">
              </div>
              <div class="profile-details">
              <i class="fa-regular fa-heart"></i>
              <div class="name-job">
                 <h3 class="name">UFSCar</h3>
                 <h4 class="job">DD/MM/YEAR</h4>
              </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
              <img src="{{ url_for('static', filename='images/logo-images/uscs-logo.png') }}">
              </div>
              <div class="profile-details">
              <i class="fa-regular fa-heart"></i>
              <div class="name-job">
                 <h3 class="name">USCS</h3>
                 <h4 class="job">DD/MM/YEAR</h4>
              </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
                 <img src="{{ url_for('static', filename='images/logo-images/unicamp-logo.png') }}">
              </div>
              <div class="profile-details">
                 <i class="fa-regular fa-heart"></i>
                 <div class="name-job">
                    <h3 class="name">Unicamp</h3>
                    <h4 class="job">DD/MM/YEAR</h4>
                 </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
                 <img src="{{ url_for('static', filename='images/logo-images/fatec-logo.png') }}">
              </div>
              <div class="profile-details">
                 <i class="fa-regular fa-heart"></i>
                 <div class="name-job">
                    <h3 class="name">Fatec</h3>
                    <h4 class="job">DD/MM/YEAR</h4>
                 </div>
              </div>
           </div>
           <!-- adicione mais cards aqui -->
        </div>
        <div class="swiper-button-next button-next2"></div>
        <div class="swiper-button-prev button-prev2"></div>
        <div class="swiper-pagination pagination2"></div>
        </div>
     </div>
     <div class="todas-faculdades">
        <h1>Buscar por Cursos</h1>
        <div class="aba-busca">
        <input type="text" id="buscar-faculdade"/>
        </div>

        <div class="todos-cards">
           <div class="card swiper-slide">
              <div class="image-box">
              <img src="{{ url_for('static', filename='images/logo-images/ufscar-logo.png') }}">
              </div>
              <div class="profile-details">
              <i class="fa-regular fa-heart"></i>
              <div class="name-job">
                 <h3 class="name">UFSCar</h3>
                 <h4 class="job">Descrição</h4>
              </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
              <img src="{{ url_for('static', filename='images/logo-images/ufscar-logo.png') }}">
              </div>
              <div class="profile-details">
              <i class="fa-regular fa-heart"></i>
              <div class="name-job">
                 <h3 class="name">UFSCar</h3>
                 <h4 class="job">Descrição</h4>
              </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
              <img src="{{ url_for('static', filename='images/logo-images/ufscar-logo.png') }}">
              </div>
              <div class="profile-details">
              <i class="fa-regular fa-heart"></i>
              <div class="name-job">
                 <h3 class="name">UFSCar</h3>
                 <h4 class="job">Descrição</h4>
              </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
              <img src="{{ url_for('static', filename='images/logo-images/ufscar-logo.png') }}">
              </div>
              <div class="profile-details">
              <i class="fa-regular fa-heart"></i>
              <div class="name-job">
                 <h3 class="name">UFSCar</h3>
                 <h4 class="job">Descrição</h4>
              </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
              <img src="{{ url_for('static', filename='images/logo-images/ufscar-logo.png') }}">
              </div>
              <div class="profile-details">
              <i class="fa-regular fa-heart"></i>
              <div class="name-job">
                 <h3 class="name">UFSCar</h3>
                 <h4 class="job">Descrição</h4>
              </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
              <img src="{{ url_for('static', filename='images/logo-images/ufscar-logo.png') }}">
              </div>
              <div class="profile-details">
              <i class="fa-regular fa-heart"></i>
              <div class="name-job">
                 <h3 class="name">UFSCar</h3>
                 <h4 class="job">Descrição</h4>
              </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
              <img src="{{ url_for('static', filename='images/logo-images/ufscar-logo.png') }}">
              </div>
              <div class="profile-details">
              <i class="fa-regular fa-heart"></i>
              <div class="name-job">
                 <h3 class="name">UFSCar</h3>
                 <h4 class="job">Descrição</h4>
              </div>
              </div>
           </div>
           <div class="card swiper-slide">
              <div class="image-box">
              <img src="{{ url_for('static', filename='images/logo-images/ufscar-logo.png') }}">
              </div>
              <div class="profile-details">
              <i class="fa-regular fa-heart"></i>
              <div class="name-job">
                 <h3 class="name">UFSCar</h3>
                 <h4 class="job">Descrição</h4>
              </div>
              </div>
           </div>
        </div>
     </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='/js/slider/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/slider/slider-animation.js') }}"></script>
{% endblock %}


