#faculdade_main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: fixed;
    width: calc(100% - 40vh);
    bottom: 0;
    right: 0;
    transition: all .5s;
    border: 1px solid black;
}

#faculdade_main.close-sidebar {
    width: calc(100% - 8vh);
}

#searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 60%;
    height: 10%;
}