* {
    margin: 0;
    padding: 0;
}

/* Inicio da estilização do Header */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 100%;
    background-color:#F5F5F5;
}

#menu {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
}

#menu img {
    width: 40%;
}

#menu i {
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 200%;
    color: #0CC0DF;
}
/* Fim da estilização do Header */