* {
    margin: 0;
    padding: 0;
}

/* Inicio da estilização do Header */
header {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    background-color:#F5F5F5;
    box-sizing: border-box;
}

#menu {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    max-width: 25%;
}

#menu img {
    width: 70%;
    object-fit: cover;
}

#menu i, #menu-sidebar i {
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 200%;
    color: #0CC0DF;
    cursor: pointer;
}

#menu_profile {
    overflow: hidden;
    max-width: 4%;
    display: flex;
    margin-right: 1%;
    align-items: center;
    justify-content: flex-end;
}

#menu_profile img {
    width: 100%;
    border-radius: 32px;
    object-fit: cover;
    cursor: pointer;
}
/* Fim da estilização do Header */

/* Inicio da estilização da Barra Lateral */

#sidebar {
    width: 21%;
    min-height: 100%;
    position: fixed;
    background-color: #F5F5F5;
    border: 1px black solid;
}
/* Fim da estilização da Barra Lateral */
