#faculty-information_main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#faculty-content {
    display: flex;
    width: 100%;
    height: 40vh;
    margin-bottom: 5%;
}

/* Photo and name Styles */
#faculty-header {
    width: 40%;
    height: 100%;
    justify-content: flex-start;
}

#faculty-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 1% 1% 0 1%;
    border-radius: 5px;
    background-color: #F5F5F5;
}

#faculty-image img{
    border-radius: 10px;
    object-fit: cover;
    width: 90%;
}

#faculty-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    margin: 0 1% 0 1%;
    font-size: 30px;
    color: #0A94AD;
}

#faculty-name i {
    color: red;
}

/* Location, notification and course list Style */

#faculty-information {
    display: flex;
    width: 60%;
}

#faculty-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}

#faculty-location, #faculty-webpage {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 1%;
    border-radius: 5px;
    background-color: #0CC0DF;
}

#faculty-location p, #faculty-webpage p {
    text-align: center;
    width: 100%;
    height: 30%;
    border-bottom: 4px solid black;
}

#course-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1% 0 1%;
    margin: 0 1% 0 1%;
    height: 100%;
    border-bottom: 1px solid #08E1FF;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 60%;

}

#course-list ul {
    width: 100%;
}

#course-list li {
    width: 100%;
    list-style: none;
    text-align: center;
    background-color: #0A94AD;
    margin-top: 1%;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    user-select: none;
}

#course-list li:hover {
    background-color: #0CC0DF;
}

#exams-list-title {
    font-size: 20px;
    margin-left: 1%;
    color: #0A94AD;
}

#exams-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    background-color: #0CC0DF;
    margin: 0 1% 1% 1%;
    border-radius: 5px;
}

#footer {
    display: none;
}