/* Contêiner principal para navegação do calendário */
.calendar-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Estilo dos botões de navegação */
.nav-button {
    margin: 0 10px;
    user-select: none;
}

.nav-button a {
    background-color: #0A94AD;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 40px;
    display: inline-block;
    font-size: 18px;
}

.nav-button a:hover {
    background-color: #0CC0DF;
}

/* Estilo para o ano e mês */
.year, .month {
    color: #0CC0DF;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 120px;
}

/* Estilos para o calendário */
.calendar-container {
    margin: 1% 1% 1% 1%;
}

.calendar-container table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-container th, .calendar-container td {
    border: 3px solid #08E1FF;
    padding: 8px;
    text-align: center;
}

.week-header th {
    background-color: #f4f4f4;
    color: #0A94AD;
    cursor: default;
    user-select: none;
}

.calendar-container td {
    height: 50px;
}

.noday {
    user-select: none;
    cursor: default;
    background-color: #f0f0f0; 
}

.day {
    color: #0A94AD;
    cursor: pointer;
    background-color: #fff;
    user-select: none;
    position: relative;
}

.day::after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #0A94AD;
    display: none;
}

.day:hover::after {
    display: block;
}

.has-event {
    background-color: #0CC0DF; /* Cor laranja */
    color: #f4f4f4;
}

/* Estilo do Modal com Grid */
.modal {
    display: none;
    grid-template-columns: auto 30px;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #0A94AD;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
}

.modal-content {
    max-height: 100%;
}

/* Modal Header (h2 e span) */
.modal-header {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr auto;
    align-items: center;
}

/* Input e Botão de Salvar */
.modal-content input[type="text"] {
    grid-column: span 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content button {
    grid-column: 2;
    justify-self: end;
    background-color: #0A94AD;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #0CC0DF;
}

/* Lista de Eventos do Modal*/
#eventList {
    grid-column: span 2;
    padding: 0;
    list-style: none;
    margin-top: 10px;
    max-height: 40%;
    overflow-y: auto;
}

/* Botão de Fechar */
.close {
    font-size: 28px;
    color: #0A94AD;
    cursor: pointer;
}

.close:hover {
    color: #0CC0DF;
}

/* Lista de Eventos da Página */
.event-list {
    margin: 10px;
    padding: 10px;
    border: 1px solid #0A94AD;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.event-list h3 {
    color: #0A94AD;
}

#allEventsList li {
    color: #0A94AD;
    margin: 5px 0;
    list-style: none;
}

/* Responsividade */
@media (max-width: 600px) {
    .modal {
        width: 90%;
        height: 70%;
    }

    .modal-content input[type="text"] {
        font-size: 14px;
        padding: 8px;
    }

    .modal-content button {
        padding: 8px 12px;
    }

    #eventList {
        max-height: 30%;
    }

    .calendar-navigation .nav-button a {
        width: 35px;
        font-size: 16px;
    }

    .year, .month {
        font-size: 20px;
    }

    .calendar-container th, .calendar-container td {
        padding: 5px;
        font-size: 14px;
    }
}
