{% extends "sideheader.html" %}

{% block stylepage %}
    <link rel="stylesheet" href="{{ url_for('home-page.static', filename='css/home-style.css') }}">
{% endblock %}

{% block titlepage %}Vestibulobby - Início{% endblock %}

{% block classactiveinicio %}active{% endblock %}

{% block mainclass %}open-state{% endblock %}
{% block mainid %}home_main{% endblock %}
{% block main %}
   <h2 id="demo">Isso é uma Demonstração, por tanto não conta com datas reais.</h2>
   <p>Período de Pedido de Redução de Taxa de Inscrição Próximo:</p>
   <div class="container">
      {% for college in college_api_data[:5] %}
      <a class="information-card" href="{{url_for('colleges.college_information', college_id=college['college_id'])}}">
         <div class="information-image-container">
            <img src="{{ college['image_url'] }}" alt="Imagem da Instituição">
         </div>
         <div class="information-details">
            <i class="fa-regular fa-bell"></i>
            <div class="information-info">
               <h3 class="information-name">{{ college['college_name'] }}</h3>
               <p class="information-date">12/08/2024</p>
            </div>
         </div>
      </a>
      {% endfor %}
   </div>
   <p>Período de Realização de Inscrições Próximo:</p>
   <div class="container">
      {% for college in college_api_data[6:9] %}
      <a class="information-card" href="{{url_for('colleges.college_information', college_id=college['college_id'])}}">
         <div class="information-image-container">
            <img src="{{ college['image_url'] }}" alt="Imagem da Instituição">
         </div>
         <div class="information-details">
            <i class="fa-regular fa-bell"></i>
            <div class="information-info">
               <h3 class="information-name">{{ college['college_name'] }}</h3>
               <p class="information-date">27/09/2024</p>
            </div>
         </div>
      </a>
      {% endfor %}
   </div>
   <p>Resultados Próximos a Serem Divulgados:</p>
   <div class="container">
      {% for college in college_api_data[10:14] %}
      <a class="information-card" href="{{url_for('colleges.college_information', college_id=college['college_id'])}}">
         <div class="information-image-container">
            <img src="{{ college['image_url'] }}" alt="Imagem da Instituição">
         </div>
         <div class="information-details">
            <i class="fa-regular fa-bell"></i>
            <div class="information-info">
               <h3 class="information-name">{{ college['college_name'] }}</h3>
               <p class="information-date">04/12/2024</p>
            </div>
         </div>
      </a>
      {% endfor %}
   </div>
   <div class="all-content">
      <p>Veja Todas as Instituições</p>
      <div class="search-bar-container">
         <input type="text" id="search-bar" placeholder="Buscar Instituições..." onkeyup="filterInformation()" autocomplete="off">
      </div>
      <div id="list-container" class="all-information">
         <div class="information-column" data-type="colleges">
            {% if college_api_data %}
               {% for college in college_api_data %}
                  <p class="college-information"><a href="{{url_for('colleges.college_information', college_id=college['college_id'])}}" class="college-name">{{ college['college_name'] }}</a></p>
               {% endfor %}
            {% else %}
               <li>Nenhuma faculdade disponível</li>
            {% endif %}
         </div>
      </div>
  </div>
{% endblock %}

{% block scripts %}
   <script>
      function filterInformation() {
         let input = document.getElementById('search-bar').value.toLowerCase();
         
         let courses = document.getElementsByClassName('college-information');
         
         for (let i = 0; i < courses.length; i++) {
            let courseName = courses[i].getElementsByClassName('college-name')[0].innerText.toLowerCase();
            if (courseName.includes(input)) {
               courses[i].style.display = "";
            } else {
               courses[i].style.display = "none";
            }
         }
      }
   </script>
   <script src="{{ url_for('static', filename='js/universal_actions/notification-button.js') }}"></script>
{% endblock %}
