<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/sideheader/header_style.css') }}">
    <script>
         document.addEventListener('DOMContentLoaded', function() {
            var sidebarState = localStorage.getItem('sidebarState');
            if (sidebarState === 'closed') {
                document.getElementById('sidebar').classList.add('close-sidebar');
                document.querySelector('main').classList.add('close-sidebar');
            }
        });
    </script>
    {% block stylepage %}
    {% endblock %}
    <title>{% block titlepage %}{% endblock %}</title>
</head>
<body>
    <header>
        <div id="menu">
            <button id="sidebar_button"><i class="fa-solid fa-bars" id="sidebar_button_icon"></i></button>
            <span>
                <a href="{{url_for('home-page.home_page')}}">
                    <img src="{{ url_for('static', filename='images/sideheader/Logo-Vest.png')}}" />
                </a>
            </span>
        </div>
        <div id="menu_profile">
            <img src="{{ url_for('static', filename='images/sideheader/Smile.png') }}" />
        </div>
    </header>

    <nav id="sidebar" class="open-state">
        <ul id="side-itens">
            <li class="side-item {% block classactiveinicio %}{% endblock %}">
                <a href="{{url_for('home-page.home_page')}}">
                    <i class="fa-solid fa-house-chimney"></i>
                    <span class="item-description">
                        Início - Provas
                    </span>
                </a>
            </li>
            <li class="side-item {% block classactivecursos %}{% endblock %}">
                <a href="{{url_for('courses.courses_menu')}}">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <span class="item-description">
                        Cursos
                    </span>
                </a>
            </li>
            <li class="side-item {% block classactivecalendario %}{% endblock %}">
                <a href="{{url_for('calendar.calendar_menu')}}">
                    <i class="fa-regular fa-calendar-days"></i>
                    <span class="item-description">
                        Calendario
                    </span>
                </a>
            </li>
            <li class="side-item {% block classactiveanotacoes %}{% endblock %}">
                <a href="{{url_for('anotacoes.anotacoes_menu')}}">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <span class="item-description">
                        Anotações
                    </span>
                </a>
            </li>
            <li class="side-item {% block classactivenotificacoes %}{% endblock %}">
                <a href=#>
                    <i class="fa-solid fa-bell"></i>
                    <span class="item-description">
                        Notificações
                    </span>
                </a>
            </li>
        </ul>

        <ul id="side-itens-footer">
            <li class="side-item">
                <a href="#">
                    <i class="fa-solid fa-question"></i>
                    <span class="item-description">
                        Dúvidas do Site
                    </span>
                </a>
            </li>  
            <li class="side-item {% block classactiveconfiguracoes %}{% endblock %}">
                <a href="{{url_for('configuracoes.configuracoes_menu')}}">
                    <i class="fa-solid fa-gear"></i>
                    <span class="item-description">
                        Configurações
                    </span>
                </a>
            </li>  
        </ul>
    </nav>

    <main class="{% block mainclass %}{% endblock %}" id="{% block mainid %}{% endblock %}">
    {% block main %}


    {% endblock %}
        <div id="footer">
            <div class="footer-column">
                <p><h4>Sobre Nós</h4></p>
                <p>Este é um projeto de TCC feito por estudantes do ensino médio tecnico da Etec do curso de Análise e Desenvolvimento de Sistemas;</p>
                <p>Nossa Missão: Ajudar estudantes a se prepararem para os vestibulares com conteúdo de qualidade e acessível;</p>
                <p>Nossa Visão: Ser a principal plataforma de apoio para vestibulandos, oferecendo recursos completos e atualizados.</p>
            </div>
            <div class="footer-column">
                <p><h4>Recursos</h4></p>
                <p>Informações atualizadas sobre vestibulares próximos e passados;</p>
                <p>Caderno digital para auxílio nos estudos e revisão;</p>
                <p>Agenda integrada para lembrar-se de provas próximas;</p>
                <p>Acesso a provas antigas.</p>
            </div>
            <br>
            <div class="footer-signature">
                <p>2024 Vestibulobby.</p>
                <p>Eduardo Santos</p>
                <p>Sabrina Ogawa</p>
            </div>
        </div>
    </main>
    
    {% block scripts %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/side_header/sidebar-animation.js') }}"></script>
</body>
</html>