{% extends "sideheader.html" %}

{% block stylepage %}
    <link rel="stylesheet" href="{{ url_for('colleges.static', filename='css/colleges-information.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list-action/styleList.css') }}">
{% endblock %}

{% block titlepage %}Vestibulobby - {{ college['college']['college_name'] }}{% endblock %}

{% block classactiveinicio %}active{% endblock %}

{% block mainclass %}open-state{% endblock %}
{% block mainid %}college-information_main{% endblock %}

{% block main %}
    <div id="college-content">
        <div id="college-header">
            <div id="college-image">
                <img src="{{ college['college']['image_url'] }}">
            </div>
            <div id="college-name">
                <p>{{ college['college']['college_name'] }}</p>
                <i class="fa-regular fa-bell"></i>
            </div>
        </div>
        <div id="course-list">
            <p class="list-title">Cursos dessa Instituição</p>
            <ul>
                {% for course in college['courses'] %}
                    <li>{{ course['course_name'] }}</li>
                {% else %}
                    <li>Nenhum curso disponível</li>
                {% endfor %}
            </ul>
        </div>
        <div id="exams-list">
            <p class="list-title">Provas e Editais</p>
            <div id="ul-container">
                <ul>
                    {% if college['exams'] %}
                        {% for year, exams in college['exams'].items() %}
                            {% set filtered_exams = exams | selectattr('college_id', 'equalto', college['college']['college_id']) | list %}
                            {% if filtered_exams %}
                                <li>
                                    <button class="expand-button" onclick="toggleExams('{{ year }}')">{{ year }}</button>
                                    <ul class="nested-list" id="exams-{{ year }}" style="display: none;">
                                        {% for exam in filtered_exams %}
                                            <li>
                                                <a href="{{ url_for('colleges.view_exam', exam_id=exam['exam_id']) }}">{{ exam['exam_name'] }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <li>Nenhuma prova disponível</li>
                    {% endif %}
                </ul>
            </div>
            <a id="return-button" href="{{url_for('home-page.home_page')}}">Voltar à Página Anterior</a>
        </div>
        <div id="info-list">
            <div class="info-block">
                <p class="info-block-title">Período de Inscrição</p>
                <p class="info-block-content">12/08/2024 - 30/08/2024</p>
                <p class="info-block-warning">*Isso é uma Demonstração, por tanto não conta com datas reais.</p>
            </div>
            <div class="info-block">
                <p class="info-block-title">Período de Pedido de Isenção</p>
                <p class="info-block-content">27/09/2024 - 08/10/2024</p>
                <p class="info-block-warning">*Isso é uma Demonstração, por tanto não conta com datas reais.</p>
            </div>
            <div class="info-block">
                <p class="info-block-title">Divulgação dos Resultados</p>
                <p class="info-block-content">14/12/2024</p>
                <p class="info-block-warning">*Isso é uma Demonstração, por tanto não conta com datas reais.</p>
            </div>
            <div class="info-block">
                <p class="info-block-title">Página Oficial da Instituição</p>
                <a class="info-block-content" href="{{ college['college']['college_pg'] }}" target="_blank">Clique Aqui e Saiba Mais!</a>
            </div>
        </div>
        <div id="location-list">
            <p class="list-title">Localizações dessa Instituição</p>
            <ul>
                {% for location in college['locations'] %}
                    <li>{{ location['college_location_name'] }}</li>
                {% else %}
                    <li>Nenhuma Localização disponível</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/universal_actions/notification-button.js') }}"></script>
<script src="{{ url_for('static', filename='js/universal_actions/list-action.js') }}"></script> 
{% endblock %}
