{% extends "sideheader.html" %}

{% block stylepage %}
    <link rel="stylesheet" href="{{ url_for('colleges.static', filename='css/colleges-information.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list-action/styleList.css') }}">
{% endblock %}

{% block titlepage %}Vestibulobby - {{ college['college']['college_name'] }}{% endblock %}

{% block classactiveinicio %}active{% endblock %}

{% block mainclass %}open-state{% endblock %}
{% block mainid %}college-information_main{% endblock %}

{% block main %}
    <div id="college-content">
        <div id="college-header">
            <div id="college-image">
                <img src="{{ college['college']['image_url'] }}">
            </div>
            <div id="college-name">
                <p>{{ college['college']['college_name'] }}</p>
                <i class="fa-regular fa-bell"></i>
            </div>
        </div>
        <div id="course-list">
            <p class="list-title">
                {% if college['college']['college_id'] == 114 %}
                    Sobre o ENEM
                {% else %}
                    Cursos dessa Instituição
                {% endif %}
            </p>
            <ul>
                {% if college['college']['college_id'] == 114 %}
                    <li>
                        O Exame Nacional do Ensino Médio (ENEM), criado em 1998, é uma prova que avalia o desempenho 
                        dos estudantes ao final do ensino médio e é muito importante para quem quer entrar em universidades 
                        no Brasil. Ele é usado para a seleção em instituições públicas e privadas através do Sistema de 
                        Seleção Unificada (SISU) e do Programa Universidade para Todos (PROUNI). Além de certificar a 
                        conclusão do ensino médio, o ENEM também mede a qualidade das escolas e ajuda a garantir que 
                        mais pessoas tenham acesso à educação, oferecendo oportunidades para estudantes de diferentes 
                        origens, tornando-se uma ferramenta fundamental para a inclusão social no país.
                    </li>
                {% else %}
                    {% if college['courses'] %}
                        {% for course in college['courses'] %}
                            <li>
                                <a href="{{ url_for('courses.view_courses', course_id=course['course_id']) }}" class="course-list-item">
                                    {{ course['course_name'] }}
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>Nenhum curso disponível</li>
                    {% endif %}
                {% endif %}
            </ul>            
        </div>
        <div id="exams-list">
            <p class="list-title">Provas e Editais</p>
            <div id="ul-container">
                <ul>
                    {% if college['exams'] %}
                        {% for year, exams in college['exams'].items() %}
                            {% set filtered_exams = exams | selectattr('college_id', 'equalto', college['college']['college_id']) | list %}
                            {% if filtered_exams %}
                                <li>
                                    <button class="expand-button" onclick="toggleExams('{{ year }}')">{{ year }}</button>
                                    <ul class="nested-list" id="exams-{{ year }}">
                                        {% for exam in filtered_exams %}
                                            <li>
                                                <a href="{{ url_for('colleges.view_exam', exam_id=exam['exam_id']) }}">{{ exam['exam_name'] }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <li>Nenhuma prova disponível</li>
                    {% endif %}
                </ul>
            </div>
            <a id="return-button" href="{{url_for('home-page.home_page')}}">Voltar ao Menu Principal</a>
        </div>
        <div id="info-list">
            <div class="info-block">
                <p class="info-block-title">Período para Realizar a Inscrição</p>
                <p class="info-block-content">12/08/2024 - 30/08/2024</p>
                <p class="info-block-warning">*Isso é uma Demonstração, por tanto não conta com datas reais.</p>
            </div>
            <div class="info-block">
                <p class="info-block-title">Período de Pedido de Isenção</p>
                <p class="info-block-content">27/09/2024 - 08/10/2024</p>
                <p class="info-block-warning">*Isso é uma Demonstração, por tanto não conta com datas reais.</p>
            </div>
            <div class="info-block">
                <p class="info-block-title">Divulgação dos Resultados</p>
                <p class="info-block-content">04/12/2024</p>
                <p class="info-block-warning">*Isso é uma Demonstração, por tanto não conta com datas reais.</p>
            </div>
            <div class="info-block">
                <p class="info-block-title">Página Oficial da Instituição</p>
                <a class="info-block-content" href="{{ college['college']['college_pg'] }}" target="_blank">Clique Aqui e Saiba Mais!</a>
            </div>
        </div>
        <div id="location-list">
            <p class="list-title">Localizações dessa Instituição</p>
            <ul>
                {% for location in college['locations'] %}
                    <li>{{ location['college_location_name'] }}</li>
                {% else %}
                    <li>Nenhuma Localização disponível</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/universal_actions/notification-button.js') }}"></script>
<script src="{{ url_for('static', filename='js/universal_actions/list-action.js') }}"></script> 
{% endblock %}
