{% extends "sideheader.html" %}

{% block stylepage %}<link rel="stylesheet" href="{{ url_for('calendario.static', filename='/css/calendarioStyle.css') }}">{% endblock %}

{% block titlepage %}Vestibulobby - Calendario{% endblock %}

{% block classactivecalendario %}active{% endblock %}

{% block mainclass %}open-state{% endblock %}
{% block mainid %}calendario_main{% endblock %}

{% block main %}
    <div class="calendar-navigation">
        <!-- Botões para trocar o ano -->
        <div class="nav-button">
            <a href="{{ url_for('calendario.calendario_menu', year=prev_year_only, month=month) }}" class="nav-button">◀</a>
        </div>
        <div class="year">{{ year }}</div>
        <div class="nav-button">
            <a href="{{ url_for('calendario.calendario_menu', year=next_year_only, month=month) }}" class="nav-button">▶</a>
        </div>
    </div>

    <div class="calendar-navigation">
        <!-- Botões para trocar o mês -->
        <div class="nav-button">
            <a href="{{ url_for('calendario.calendario_menu', year=year, month=prev_month) }}" class="nav-button">◀</a>
        </div>
        <div class="month">{{ month_name_pt }}</div>
        <div class="nav-button">
            <a href="{{ url_for('calendario.calendario_menu', year=year, month=next_month) }}" class="nav-button">▶</a>
        </div>
    </div>

    <div class="calendar-container">
        {{ calendar | safe }}
    </div>
{% endblock %}


